# Dependencias
**/node_modules/

# Variables privadas
**/.env
**/.env.*
!**/.env.example

# Archivos compilados
**/dist/

# Registros
*.log

# Configuración local de VS Code
.vscode/

# Configuración local de Claude Code
.claude/